
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* colors */
  --primary-text-color: #1c49aa;
  --button-bg-color: #0134a9;
  --text-color: rgb(11, 11, 90);
  --primary-light-50: #ecf2fe;
  --primary-light-40: #cfdffc;
  --primary-light-blue: #b7cffa;
  --white: #fff;
  --primary-white: #fff;
  --secondary-white: #f1f2f4;
  --black: #000;
  --primary-black: #030b1d;
  --yellow: #f2d84b;
  --primary-core-blue: #0357ee;
  --primary-blue-2: #246df0;
  --primary-dark-10: #0349c6;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

}

button {
  padding: 24px 28px;
  color: #ffffff;
  background-color: var(--button-bg-color);
  border-radius: 40px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
